/Blizzard_AuctionUI
/Blizzard_AchievementUI
/Blizzard_ArchaeologyUI
/Blizzard_ArenaUI
/Blizzard_BlackMarketUI
/Blizzard_Calendar
/Blizzard_BarbershopUI
/Blizzard_BattlefieldMinimap
/Blizzard_BindingUI
/Blizzard_CompactRaidFrames
/Blizzard_ChallengesUI
/Blizzard_ClientSavedVariables
/Blizzard_CombatLog
/Blizzard_CombatText
/Blizzard_GMSurveyUI
/Blizzard_CUFProfiles
/Blizzard_DebugTools
/Blizzard_EncounterJournal
/Blizzard_GlyphUI
/Blizzard_GMChatUI
/Blizzard_ItemSocketingUI
/Blizzard_GuildBankUI
/Blizzard_GuildControlUI
/Blizzard_GuildUI
/Blizzard_InspectUI
/Blizzard_ItemAlterationUI
/Blizzard_PetBattleUI
/Blizzard_ItemUpgradeUI
/Blizzard_LookingForGuildUI
/Blizzard_MacroUI
/Blizzard_MovePad
/Blizzard_TalentUI
/Blizzard_PetJournal
/Blizzard_RaidUI
/Blizzard_ReforgingUI
/Blizzard_VoidStorageUI
/Blizzard_TimeManager
/Blizzard_TokenUI
/Blizzard_TradeSkillUI
/Blizzard_TrainerUI
